<h1>{{t 'view.about.title'}}</h1>
<p>{{t 'view.about.description'}}</p>

<h3>{{t 'view.about.second.title'}}</h3>
<p>{{t 'view.about.why.section'}}</p>

<h3>{{t 'view.about.third.title'}}</h3>
<p>{{t 'view.about.inside.section'}}</p>
<ul>
	{{#each libs}}
		<li>{{this}}</li>
	{{/each}}
</ul>

<h3>{{t 'view.about.fourth.title'}}</h3>
<p>{{t 'view.about.yeoman.section'}}</p>

<code>
$ yo backbone:model mymodel<br/>
    create app/scripts/models/mymodel.js
</code>
